<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lektsoft.recordingscreen">
    <!-- Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="YoloHolo"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="ExtraText">

        <receiver android:name=".Utils.NotificationReceiver"></receiver>
        <service android:enabled="true"
            android:name=".Utils.ForegroundService"
            android:foregroundServiceType="mediaProjection"/>
        <service android:enabled="true" android:name=".Utils.Controller"/>

        <activity android:name=".Viewer.RecordActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTransparentTheme"
            android:parentActivityName=".SettingsSystem"></activity>

        <activity android:name=".Viewer.SettingActivity"
            android:launchMode="singleTop"
            android:theme="@style/ControllerTheme"
            android:noHistory="true"/>

        <activity android:name=".Viewer.ScreenShotActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTransparentTheme"
            android:noHistory="true"
            android:parentActivityName=".SettingsSystem" />

        <activity android:name=".Fragment.VideoFragment" />

        <activity android:name=".Fragment.ScreenshotFragment" />

        <activity android:name=".Viewer.ImageViewerActivity"
            android:parentActivityName=".Viewer.SettingActivity"/>

        <activity android:name=".Viewer.VideoViewerActivity"
            android:parentActivityName=".Viewer.SettingActivity" />

        /*main screen*/
        <activity android:name=".CallGallery"/>
        <activity android:name=".HoloSystem"/>
        <activity android:name=".HoloSystem_play"/>
        <activity android:name=".LoadingActivity"/>
        <activity android:name=".PlaySystem"/>
        <activity android:name=".SettingsSystem"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>